@import url('navbar.css');
@import url('footer.css');

@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


:root {
    --c-blanc: rgb(221, 221, 221);
    --c-shadow: #2c2c2c0e;
    --c-bleu: #001d3d;
    --c-lightblue: #003566;
    --c-gold: #ffbe69;
    --c-noir: #1a1a1a;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--c-bleu);
}

*::-webkit-scrollbar {
    width: 5px;
}
    
*::-webkit-scrollbar-track {
    background: var(--c-blanc);
}
    
*::-webkit-scrollbar-thumb {
    background-color: var(--c-bleu);
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--c-blanc);
    font-family: "Roboto", sans-serif;
    height: auto;
}

.global {
    flex: 1 0 auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--c-blanc);
}

.domaines {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--c-blanc);
}









/* ------------------ CONTENU ------------------- */

.contenu {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--c-blanc);
}

.contenu .options {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--c-blanc);
}

.contenu .options .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
}

.options .titre p {
    margin: auto;
    font-size: 40px;
    color: black;
    font-weight: 400;
}

.bold {
    font-weight: 900;
    color: var(--c-bleu);
}

.options .cartes {
    margin: 20px auto 0;
    display: flex;
    width: 100%;
    max-width: 1700px;
    padding: 1rem;
    justify-content: center;
    gap: 20px;
}

.options .cartes .carte {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: 100%;
    padding: 1rem;
    background-color: var(--c-bleu);
    box-shadow: 10px 5px 10px 10px var(--c-shadow), -10px -5px 10px 10px var(--c-shadow);
    border-radius: 5px;
}

.options .cartes .sisr {
    background: url(../img/option-sisr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.options .cartes .slam {
    background: url(../img/option-slam.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.options .cartes .carte .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
    color: white;
}

.options .cartes .carte .titre p {
    color: white;
}

.options .cartes .carte .titre p span {
    color: var(--c-gold);
}

.options .cartes .carte .desc {
    margin: auto;
    display: flex;
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}