@import url('navbar.css');
@import url('footer.css');

@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


:root {
    --c-blanc: rgb(221, 221, 221);
    --c-shadow: #2c2c2c0e;
    --c-bleu: #001d3d;
    --c-lightblue: #003566;
    --c-gold: #ffbe69;
    --c-noir: #1a1a1a;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--c-bleu);
}

*::-webkit-scrollbar {
    width: 5px;
}
    
*::-webkit-scrollbar-track {
    background: var(--c-blanc);
}
    
*::-webkit-scrollbar-thumb {
    background-color: var(--c-bleu);
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--c-blanc);
    font-family: "Roboto", sans-serif;
    height: auto;
}

.global {
    flex: 1 0 auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--c-blanc);
}

.domaines {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--c-blanc);
}

.domaines .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
}

.domaines .titre p {
    margin: auto;
    font-size: 40px;
    color: black;
    font-weight: 400;
}









/* ------------------ CONTENU ------------------- */

.contenu {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--c-blanc);
}

.blog-slider {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: 30px auto 0;
    background: #fff;
    box-shadow: 10px 5px 10px 10px var(--c-shadow), -10px -5px 10px 10px var(--c-shadow);
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all 0.3s;

}

.blog-slider__item {
    display: flex;
    align-items: center;
}
  
.blog-slider__item.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: 0.3s;
}
  
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
    opacity: 1;
    transform: none;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
    transition-delay: 0.3s;
}
  
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
    transition-delay: 0.4s;
}
  
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
    transition-delay: 0.5s;
}
  
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
    transition-delay: 0.6s;
}
  
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
    transition-delay: 0.7s;
}
  
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
    transition-delay: 0.8s;
}
  
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
    transition-delay: 0.9s;
}
  
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
    transition-delay: 1s;
}
  
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
    transition-delay: 1.1s;
}
  
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
    transition-delay: 1.2s;
}
  
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
    transition-delay: 1.3s;
}
  
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
    transition-delay: 1.4s;
}
  
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
    transition-delay: 1.5s;
}
  
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
    transition-delay: 1.6s;
}
  
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
    transition-delay: 1.7s;
}
  
.blog-slider__img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background: var(--c-bleu);
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
}

.blog-slider__content {
    padding-right: 25px;
}
  
.blog-slider__img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.8;
}
  
.blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all 0.3s;
}
  
.blog-slider__content > * {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.4s;
}
  
.blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}
  
.blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
}
  
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
  
.blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
}
  
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
}
  
.blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all 0.3s;
}
  
.blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--c-gold);
    height: 30px;
}




















.contenu .options {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--c-blanc);
}

.contenu .options .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
}

.options .titre p {
    margin: auto;
    font-size: 40px;
    color: black;
    font-weight: 400;
}

.bold {
    font-weight: 900;
    color: var(--c-bleu);
}

.options .cartes {
    margin: 20px auto 0;
    display: flex;
    width: 100%;
    max-width: 1700px;
    padding: 1rem;
    justify-content: center;
    gap: 20px;
}

.options .cartes .carte {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: 100%;
    padding: 1rem;
    background-color: var(--c-bleu);
    box-shadow: 10px 5px 10px 10px var(--c-shadow), -10px -5px 10px 10px var(--c-shadow);
    border-radius: 5px;
}

.options .cartes .sisr {
    background: url(../img/option-sisr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.options .cartes .slam {
    background: url(../img/option-slam.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.options .cartes .carte .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
    color: white;
}

.options .cartes .carte .titre p {
    color: white;
}

.options .cartes .carte .titre p span {
    color: var(--c-gold);
}

.options .cartes .carte .desc {
    margin: auto;
    display: flex;
    width: 100%;
    padding: 1rem;
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}








.contenu .forme {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--c-blanc);
}

.contenu .forme .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
}

.forme .titre p {
    margin: auto;
    font-size: 40px;
    color: black;
    font-weight: 400;
}

.bold {
    font-weight: 900;
    color: var(--c-bleu);
}

.forme .cartes {
    margin: 20px auto 0;
    display: flex;
    width: 100%;
    max-width: 1500px;
    padding: 1rem;
    justify-content: center;
    gap: 20px;
}

.forme .cartes .carte {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    height: 100%;
    padding: 1rem;
    background-color: var(--c-bleu);
    box-shadow: 10px 5px 10px 10px var(--c-shadow), -10px -5px 10px 10px var(--c-shadow);
    border-radius: 5px;
}

.forme .cartes .carte .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
    color: white;
}

.forme .cartes .carte .titre p {
    color: white;
}

.forme .cartes .carte .titre p span {
    color: var(--c-gold);
}

.forme .cartes .carte .desc {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.forme .cartes .carte .desc p span {
    color: var(--c-gold);
}







.referentiel {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--c-blanc);
}

.referentiel .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
}

.referentiel .titre p {
    margin: auto;
    font-size: 40px;
    color: black;
    font-weight: 400;
}

.referentiel .cartes {
    margin: 20px auto 0;
    display: flex;
    width: 100%;
    max-width: 1500px;
    padding: 1rem;
    justify-content: center;
    gap: 20px;
}

.referentiel .cartes .carte {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    height: 100%;
    padding: 1rem;
    background-color: var(--c-bleu);
    box-shadow: 10px 5px 10px 10px var(--c-shadow), -10px -5px 10px 10px var(--c-shadow);
    border-radius: 5px;
}

.referentiel .cartes .carte .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
    color: white;
}

.referentiel .cartes .carte .titre p {
    color: white;
    font-size: 30px;
}

.referentiel .cartes .carte .titre p span {
    color: var(--c-gold);
}

.referentiel .cartes .carte .desc {
    margin: auto;
    display: flex;
    width: 100%;
    padding: 1rem;
    font-size: 15px;
    gap: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.referentiel .cartes .carte .desc .left {
    margin: 0 auto;
    display: flex;
    width: 70%;
}

.referentiel .cartes .carte .desc .right {
    margin: 0 auto;
    display: flex;
    width: 30%;
    border-radius: 15px;
    align-items: center;
    background-color: var(--c-lightblue);
    cursor: pointer;
}
.referentiel .cartes .carte .desc .right p {
margin: auto;
}





.conditions {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--c-blanc);
}

.conditions .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
}

.conditions .titre p {
    margin: auto;
    font-size: 40px;
    color: black;
    font-weight: 400;
}

.conditions .cartes {
    margin: 20px auto 0;
    display: flex;
    width: 100%;
    max-width: 1500px;
    padding: 1rem;
    justify-content: center;
    gap: 20px;
}

.conditions .carte {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    height: 100%;
    padding: 1rem;
    background-color: var(--c-bleu);
    box-shadow: 10px 5px 10px 10px var(--c-shadow), -10px -5px 10px 10px var(--c-shadow);
    border-radius: 5px;
}

.conditions .carte .titre h3 {
    color: white;
}

.conditions .carte .titre h3 span {
    color: var(--c-gold);
}





@media screen and (max-width: 992px) {
    .blog-slider {
      max-width: 680px;
      height: 400px;
    }
}

@media (max-width:900px) {
    .options .cartes {
        flex-direction: column;
        padding: 5x;
    }

    .options .cartes .carte {
        padding: 5px;
    }

    .forme .cartes {
        flex-direction: column;
        padding: 5x;
    }

    .forme .cartes .carte {
        padding: 5px;
    }

    .referentiel .cartes {
        flex-direction: column;
        padding: 5x;
    }

    .referentiel .cartes .carte {
        padding: 5px;
    }
}

@media screen and (max-width: 850px) {
    .blog-slider__pagination {
      transform: translateX(-50%);
      left: 50% !important;
      top: 205px;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .blog-slider__item {
        flex-direction: column;
    }

    .blog-slider {
        min-height: 500px;
        height: auto;
        margin: 180px auto 0;
    }

    .blog-slider__content {
        margin-top: -80px;
        text-align: center;
        padding: 0 30px;
    }

    .blog-slider__img {
        transform: translateY(-50%);
        width: 90%;
    }

    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 5px;
    }

    .blog-slider__pagination .swiper-pagination-bullet-active {
        height: 11px;
        width: 30px;
    }
}
  
@media screen and (max-width: 576px) {
    .blog-slider__img {
        width: 95%;
    }

    .blog-slider__content {
      padding: 0;
    }
}

