@import url('navbar.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--c-bleu);
}

*::-webkit-scrollbar {
    width: 5px;
}
    
*::-webkit-scrollbar-track {
    background: var(--c-blanc);
}
    
*::-webkit-scrollbar-thumb {
    background-color: var(--c-bleu);
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.global {
    flex: 1 0 auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--c-blanc);
    z-index: -2;
}

.bienvenue {
    z-index: -1;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 55px);
    background: url(../img/bienvenue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bienvenue .slogan {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    filter: drop-shadow(5px 5px 5px black);
}

.bienvenue .slogan h1 {
    margin: 50px auto;
    color: white;
    width: max-content;
    font-size: 40px;
}

.bienvenue .slogan img {
    width: 100%;
}

.bienvenue .down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    height: 150px;
    color: white;
}

.bienvenue .down svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(5px 5px 5px black);
}

.options {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--c-blanc);
}

.options .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
}

.options .titre p {
    margin: auto;
    font-size: 40px;
    color: black;
    text-shadow: 1px 1px 1px black;
}

.options .titre p span.bold {
    font-weight: 900;
    color: var(--c-bleu);
}

.options .cartes {
    margin: 20px auto 0;
    display: flex;
    width: 100%;
    max-width: 1700px;
    padding: 1rem;
    justify-content: center;
    gap: 20px;
}

.options .cartes .carte {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 800px;
    height: 100%;
    padding: 1rem;
    background-color: var(--c-bleu);
    box-shadow: 10px 5px 10px 10px var(--c-shadow), -10px -5px 10px 10px var(--c-shadow);
    border-radius: 5px;
}

.options .cartes .sisr {
    background: url(../img/option-sisr.jpg);
}

.options .cartes .slam {
    background: url(../img/option-slam.jpg);
}

.options .cartes .carte .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
    color: white;
}

.options .cartes .carte .titre p {
    color: white;
}

.options .cartes .carte .titre p span {
    color: var(--c-gold);
}

.options .cartes .carte .desc {
    margin: auto;
    display: flex;
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.situer {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--c-blanc);
}

.situer .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
}

.situer .titre p {
    margin: auto;
    font-size: 40px;
    color: black;
    text-shadow: 1px 1px 1px black;
}

.situer .titre p span.bold {
    font-weight: 900;
    color: var(--c-bleu);
}

.situer .map {
    margin: 20px auto 0;
    display: flex;
    width: 100%;
    max-width: 1700px;
    box-shadow: 10px 5px 10px 10px var(--c-shadow), -10px -5px 10px 10px var(--c-shadow);
    border-radius: 5px;
}

.situer .map iframe {
    width: 100%;
    border-radius: 5px;
}






@media (max-width:900px) {
    .options .cartes {
        flex-direction: column;
        padding: 5x;
    }

    .options .cartes .carte {
        width: 100%;
        padding: 5px;
    }
}

@media (max-width:800px) {
    .bienvenue .slogan h1 {
        font-size: max(5vw, 20px);
    }

    .bienvenue .slogan {
        width: 90%;
    }
}