@import url('navbar.css');
@import url('footer.css');

@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


:root {
    --c-blanc: rgb(221, 221, 221);
    --c-shadow: #2c2c2c0e;
    --c-bleu: #001d3d;
    --c-lightblue: #003566;
    --c-gold: #ffbe69;
    --c-noir: #1a1a1a;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--c-bleu);
}

*::-webkit-scrollbar {
    width: 5px;
}
    
*::-webkit-scrollbar-track {
    background: var(--c-blanc);
}
    
*::-webkit-scrollbar-thumb {
    background-color: var(--c-bleu);
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--c-blanc);
    font-family: "Roboto", sans-serif;
    height: auto;
}

.global {
    flex: 1 0 auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--c-blanc);
}

.bienvenue {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 55px);
    background: url(../img/bienvenue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bienvenue .slogan {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    filter: drop-shadow(5px 5px 5px var(--c-shadow));
    text-align: center;
}

.bienvenue .slogan h1 {
    margin: 50px auto;
    color: white;
    width: max-content;
    font-size: 40px;
}

.bienvenue .slogan img {
    width: 100%;
}

.bienvenue .down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    height: 150px;
    display: flex;
	align-items: center;
	justify-content: center;
    color: white;
}

.scroll {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
}

.scroll::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 18px;
    width: 18px;
    height: 18px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
}
  
@keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}
@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}








.options {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--c-blanc);
}

.options .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
}

.options .titre p {
    margin: auto;
    font-size: 40px;
    color: black;
    font-weight: 400;
}

.bold {
    font-weight: 900;
    color: var(--c-bleu);
}

.options .cartes {
    margin: 20px auto 0;
    display: flex;
    width: 100%;
    max-width: 1700px;
    padding: 1rem;
    justify-content: center;
    gap: 20px;
}

.options .cartes .carte {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: 100%;
    padding: 1rem;
    background-color: var(--c-bleu);
    box-shadow: 10px 5px 10px 10px var(--c-shadow), -10px -5px 10px 10px var(--c-shadow);
    border-radius: 5px;
}

.options .cartes .sisr {
    background: url(../img/option-sisr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.options .cartes .slam {
    background: url(../img/option-slam.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.options .cartes .carte .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
    color: white;
}

.options .cartes .carte .titre p {
    color: white;
}

.options .cartes .carte .titre p span {
    color: var(--c-gold);
}

.options .cartes .carte .desc {
    margin: auto;
    display: flex;
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}









.anciens {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--c-blanc);
}

.anciens .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
}

.anciens .titre p {
    margin: auto;
    font-size: 40px;
    color: black;
    font-weight: 400;
}
.anciens .cartes {
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1700px;
    padding: 1rem;
    justify-content: flex-start;
    gap: 20px;
}

.anciens .cartes .carte {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 600px;
    background-color: var(--c-blanc);
    box-shadow: 10px 5px 10px 10px var(--c-shadow), -10px -5px 10px 10px var(--c-shadow);
    border-radius: 5px;
}

.anciens .cartes .carte .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 20%;
    gap: 10%;
    position: relative;
}

.anciens .cartes .carte .titre .avatar {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.anciens .cartes .carte .titre .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.anciens .cartes .carte .titre .right {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.anciens .cartes .carte .titre .nom {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #001D3D;
}

.anciens .cartes .carte .titre .option {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #2B2A26;;
}

.anciens .cartes .carte .desc {
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 40%;
    padding: 2rem;
    text-align: center;
    align-items: center;
}

.anciens .cartes .carte .desc .quoteH {
    position: absolute;
    top: 10px;
    left: 20px;
}

.anciens .cartes .carte .desc .quoteB {
    transform: rotate(180deg);
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.anciens .cartes .carte .sous-titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 10%;
}

.anciens .cartes .carte .sous-titre p {
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #2B2A26;
}









.situer {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    background-color: var(--c-blanc);
}

.situer .titre {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 1rem;
}

.situer .titre p {
    margin: auto;
    font-size: 40px;
    color: black;
    font-weight: 400;
}

.situer .map {
    margin: 20px auto 0;
    display: flex;
    width: 100%;
    max-width: 1700px;
    padding: 2px;
    box-shadow: 10px 5px 10px 10px var(--c-shadow), -10px -5px 10px 10px var(--c-shadow);
    border-radius: 5px;
}

.situer .map iframe {
    width: 100%;
    border-radius: 5px;
}






@media (max-width:900px) {
    .options .cartes {
        flex-direction: column;
        padding: 5x;
    }

    .options .cartes .carte {
        padding: 5px;
    }
}

@media (max-width:800px) {
    .bienvenue .slogan h1 {
        font-size: max(5vw, 20px);
    }

    .bienvenue .slogan {
        width: 90%;
    }
}

@media (max-width:460px) {
    .anciens .cartes .carte .titre .avatar {
        width: 80px;
        height: 80px;
    }

    .anciens .cartes .carte .titre .avatar img {
        width: 80px;
        height: 80px;
    }

    .anciens .cartes .carte .titre .nom {
        font-size: 25px;
    }
    
    .anciens .cartes .carte .titre .option {
        font-size: 20px;
    }
    
    .anciens .cartes .carte .desc {
        font-size: 14px;
    }
    
    .anciens .cartes .carte .sous-titre p {
        font-size: 20px;
    }
}